{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">File Uploaded Successfully!</h4>
        <div class="d-flex align-items-center">
            <p class="mb-0 me-3"><strong>File URL:</strong> <a href="{{ file_url }}" class="btn btn-primary" target="_blank">Link</a></p>
            <button id="copy-url" class="btn btn-outline-secondary mx-3" data-url="{{ file_url }}">Copy URL</button>
        </div>
    </div>
    <div class="text-center mt-4">
        <h5>QR Code for Download</h5>
        <img src="data:image/png;base64,{{ qr_code|safe }}" alt="QRCode" class="img-fluid" style="max-width: 300px; height: auto;">
    </div>
</div>

<script>
    document.getElementById('copy-url').addEventListener('click', function() {
        const url = this.getAttribute('data-url');
        navigator.clipboard.writeText(url).then(() => {
            alert('URL copied to clipboard!');
        }, (err) => {
            console.error('Failed to copy URL: ', err);
        });
    });
</script>
{% endblock content %}
